@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Russo+One&display=swap');
h1, 
h2,
button a {
    font-family: 'Russo One', 'Lexend Deca', 'League Spartan', monospace, sans-serif;
}

body.dark {
    background-color: #000;
}

.mode {
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 15%;
    position: relative;
    height: 10em;
    width: 20em;
    border: 1px solid gray;
    border-radius: 30px;
    transition: all 500ms ease-in-out;
    background-color: #6c6c6c;
}

.dark .mode {
    background-color: var(--light-purple);
}

.moon {
    cursor: pointer;
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
    left: 1.5em;
    transform: rotate(-75deg);
    width: 10em;
    height: 10em;
    box-shadow:
        3em 2.5em 0 0em rgb(115, 130, 146) inset,
        black 0em -7em 0 -4.5em,
        black 3em 7em 0 -4.5em,
        black 2em 13em 0 -4em,
        black 6em 2em 0 -4.1em,
        slategray 8em 8em 0 -4.5em,
        slategray 6em 13em 0 -4.5em,
        slategray -4em 7em 0 -4.5em,
        slategray -1em 10em 0 -4.5em;
}

.sun {
    cursor: pointer;
    top: 1em;
    left: 12em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: goldenrod;
    box-shadow: 3em 3em 0 5em gold inset,
        0 -5em 0 -2.7em #fff,
        3.5em -3.5em 0 -3em gold,
        5em 0 0 -2.7em #fff,
        3.5em 3.5em 0 -3em gold,
        0 5em 0 -2.7em #fff,
        -3.5em 3.5em 0 -3em gold,
        -5em 0 0 -2.7em #fff,
        -3.5em -3.5em 0 -3em gold;
}

:root {
    --deep-purple: purple;
    --violet: blueviolet;
    --cyan: #22d3ee;
    --dark-cyan: rgb(46, 165, 191);
    --main-white: #fff;
    --main-black: #000;
    --light-purple: rgb(243 232 255);
    --lightgray: #d7d7d7;
}

nav .name {
    text-shadow: 1.2px 3px 3px var(--main-black);
}

nav .name,
.dark nav .name {
    font-size: 24px;
    letter-spacing: 3px;
}


button {
    transition: all .5s ease;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 2px var(--main-black);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

button:hover {
    text-shadow: none;
}

h2,
.lang-specs p {
    text-shadow: .5px .5px .5px var(--main-black);
}

li {
    transition: transform .3s ease-in-out;
}

li:hover {
    transform: scale(0.9);
}

.dark .btn {
    background-color: var(--dark-cyan);
}

.dark .btn:hover {
    background-color: var(--cyan);
    color: #383838;
    text-shadow: .5px .5px .5px var(--main-white);
}

.langs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card:hover {
    box-shadow: rgb(156, 99, 196) 5px 5px, var(--deep-purple) 10px 10px;
}

.dark .card:hover {
    box-shadow: var(--cyan) 5px 5px, rgb(99, 175, 196) 10px 10px;
}

.animate-spin-slow {
    animation: spin-slow 5s linear infinite !important;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.dark .glassmorphism {
    background: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

.floating-icon {
    position: absolute;
    font-size: 4rem;
    animation: float 3s ease-in-out infinite;
}

.floating-icon:nth-child(1) {
    right: 10%;
    top: 2%;
    animation-delay: 0s;
}

.floating-icon:nth-child(2) {
    right: -2%;
    top: 50%;
    animation-delay: 0.5s;
}

.floating-icon:nth-child(3) {
    right: 3%;
    bottom: 20%;
    animation-delay: 1s;
}

.floating-icon:nth-child(4) {
    right: 3%;
    top: 30%;
    animation-delay: 1s;
}

.floating-icon:nth-child(5) {
    right: 0%;
    bottom: 0%;
    animation-delay: 1s;
}
.neumorphism {
    box-shadow: 5px 5px 15px var(--light-purple), 5px 5px 15px var(--main-white);
}

.dark .neumorphism {
    background: linear-gradient(145deg, #070707, #070707);
    box-shadow: 5px 5px 15px #1c1c1c, -5px -5px 15px #383838;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

@keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
}

@media (width <= 1024px) {
    .langs {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width <= 860px) {
    nav,
    .col {
        flex-direction: column;
    }

    .mode {
        font-size: 8%;
    }
}

@media (width <= 768px) {
    .contact {
        flex-direction: column;
    }
}

@media (width <= 600px) {
    .langs {
        grid-template-columns: 1fr;
    }
}
